body {
    margin: 0%;
    background-color:#bfb78f;
}

.nav-left-2 {
    color: #f2a71b;
}

.nav-main {
    background-color: #025e73;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #bfb78f;
    font-weight: bold;
    font-family: 'Oswald', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.nav-left-1 {
    display: flex;
    align-items: center;
}

.nav-elements {
    display: flex;
    list-style-type: none;
    gap: 30px;
}



.sign-btn:hover {
    background-color: #f2a71b;
}

a{
    text-decoration: none;
    color: #bfb78f;
}